<div class="block-title row">
  <h5>Perhaps You want to know more about my studies</h5>
  <p style="margin-top:-2rem">
    <i>I’m in the Just Under A Decade club. That’s how long it took me to get a four-year degree.<strong style=" white-space: nowrap;"> -Jarod Kintz</strong></i>
  </p>
</div>
<div class="row">
  <div class="one-half column">
    <p><strong>2014-2017:</strong> Software Engineering Degree at ENICarthage Engineering School. Currently 2nd Year.<br>
    <strong>2011-2014:</strong> Preparatory cycle for Engineering Studies Math & Physics at FSM, Monastire Faculty of Science.<br>
    <strong>2010-2011:</strong> Bachelor Degree in Computer Science</p>
  </div>
  <div class="one-half column">
    <p>
      Currently, I am the <strong>Chairman</strong> of IEEE Computer Society SBC of ENICarthage.
      <br>As a member of the IEEE international professional association, we collaborate across schools and countries to create a professional network for the benefit of our members.
    </p>
  </div>
</div>
