<h5 class="block-title">Take a look at the things I love doing</h5>
<div class="skills row ">
    <div class="one-half column">
      <p>
        <strong>I</strong> see everything in numbers... not really, but I love programming.<br>
        <strong>I</strong> develop web applications on PHP and Java EE, precisely I use frameworks like symfony2 and Spring.<br>
        <strong>In</strong> front-End, I use bootstrap and AngularJs framework which I love using in all of my web Apps.<br>
        <strong>I</strong> also enjoy mobile development on Android and hybrid frameworks like Ionic Framework using Apache Cordova.<br>
        <strong>In</strong> addition, my long and well-reputed design experience covers both web designing and Logo creation using Adobe CC Softwares like Illustrator and Photoshop.
      </p>
    </div>
    <div class="one-half column">
      <p>
        <strong>Back-End: </strong> PHP 5, Java EE
        <span class="offset-by-two column">
          Frameworks: Symfony2, Doctrine ORM, Spring, Hibernate
        </span>
        <span class="offset-by-two column">
          CMS: Wordpress
        </span>
      </p>
      <p>
        <strong>Front-End: </strong>HTML, CSS and Javascript
        <span class="offset-by-two column">
          Frameworks: AngularJs, Bootstrap, Skeleton
        </span>
      </p>
      <p>
        <strong>Mobile: </strong> Apache Cordova, Android
        <span class="offset-by-two column">
          Frameworks: Ionic Framework
        </span>
      </p>
      <p>
        <strong>Design: </strong> Adobe Photoshop & Illustrator
        <span class="offset-by-two column">
           Frameworks: Ionic Framework
        </span>
      </p>
      <p>
        <strong>IDE/Utils: </strong> Git, Composer, Eclipse, Netbeans, ATOM
      </p>

    </div>


</div>
