<div class="" style="text-align:center">


<div class="row">
  <div class="two columns offset-by-five columns">
    <img src="img/port.png" alt="Mouhamed GHARSALLAH" class="mobile u-max-full-width"/>
  </div>
</div>
<div class="row">
  <h5>I Love tech startups and creative marketing. Also, I'm not bad at FIFA 16</h5>
</div>
<div class="row">
  <p>
    Living on the west Mediterranean beaches, I pass the starry nights doing freelance and pushing new projects with my friends.
  <br>
  I do both Front End and Back End web development along with graphic design. And I'm always open to learn new assets.
  <br>I have a diverse set of skills, ranging from design to HTML + CSS + Javascript, all the way to PHP, Java EE and Android.
</p>
</div>
</div>
