<div class="contact" style="text-align:center">
  <div class="row">
    <div class="two columns offset-by-five columns">
      <img src="img/nightsky.png" alt="contactme" class="mobile u-max-full-width"/>
    </div>
  </div>
<div class="block-title row">
  <h5>I'M BASED IN TUNISIA</h5>
</div>

<div class=" row">
  <p>
    +216 21 055 877<br>
    gharssallah.mouhamed@yahoo.com<br>
    Mourouj 1, Ben Arous, Tunisia 2074
  </p>
  <p class="social">
    <strong><a href="https://www.facebook.com/garsallah.mouhamed" target="_blank">Facebook</a></strong> |
    <strong><a href="https://tn.linkedin.com/pub/gharsallah-mouhamed/a6/140/948" target="_blank">LinkedIn</a></strong> |
    <strong><a href="https://www.fiverr.com/medhoover" target="_blank">Fiverr</a></strong> |
    <strong><a href="http://designers.designcrowd.com/designer/109817/medhoover" target="_blank">DesignCrowd</a></strong>
  </p>


</div>
</div>
